torch
transformers
pandas
scikit-learn
fastapi
uvicorn
pytest
mlflow
dvc
apache-airflow
boto3
transformers==4.31.0
torch==2.0.1
scikit-learn==1.2.2
pandas==2.0.1
mlflow==2.3.0
fastapi
uvicorn
pydantic
mlflow
requests
fastapi 
uvicorn 
python-dotenv
pyyaml
python-dotenv
-e . #This helps for execting local scripts. It'll require the setup.py file.